extends ../layout/index
block body
    p(align="right")
        | [
        if forum.name
            a(href='/'+encodeURI(forum.name)) 版块首页
        | ] [
        a(href='javascript:history.back();void(0);') 返回
        | ]
    p(align="center")
        font(color="#800000",size="5")
            b: span='No.'+threads.id+' - '+((threads.title)?threads.title:'无标题') + ' - '+ forum.name
        hr(width="90%",size="1")
    div(align='center', style='margin-bottom: 5px;')
        +postForm('/t/'+threads.id+'/create',forum.id,threads.id)

    hr
    div(class='threads_'+threads.id)
        if threads.image
            a(href=cdnPath+threads.image.toLocaleLowerCase(),, rel='_blank', target='_blank')
                img(src=cdnPath+threads.thumb.toLocaleLowerCase(),, align="left", border="0",hspace="20")
        font(color="#cc1105",size="+1"): b=(threads.title) ? threads.title : '无标题'
        | &nbsp;
        if threads.email
            a(href='mailto:'+threads.email)
                font(color="#117743"): b=(threads.name) ? threads.name : '无名氏'
        else
            font(color="#117743"): b=(threads.name) ? threads.name : '无名氏'
        | &nbsp;
        span.posttime=threads.createdAt
        | &nbsp;
        span!='ID:'+threads.uid
        | &nbsp;[
        a.report(href='/值班室?r='+threads.id) 举报
        | ]&nbsp;
        a.r(href='/t/'+threads.id+'?r='+threads.id)= 'No.' + threads.id
        | &nbsp;[
        a(href='/t/'+threads.id) 回应
        | ]&nbsp;
        +adminTool(threads)
        br
        blockquote.threadpost!=threads.content

        +threadsStatus(threads)

        each reply in replys
            if reply
                table(id=reply.id,border="0"): tbody: tr
                    td(nowrap="" align="right" valign="top") …
                    td(bgcolor="#F0E0D6")
                        if reply.image
                            a(href=cdnPath+reply.image.toLocaleLowerCase(),, rel='_blank', target='_blank')
                                img(src=cdnPath+reply.thumb.toLocaleLowerCase(),, align="left", border="0",hspace="20")
                        font(color="#cc1105",size="+1"): b=(reply.title) ? reply.title : '无标题'
                        | &nbsp;
                        if reply.email
                            a(href='mailto:'+reply.email)
                                font(color="#117743"): b=(reply.name) ? reply.name : '无名氏'
                        else
                            font(color="#117743"): b=(reply.name) ? reply.name : '无名氏'
                        | &nbsp;
                        span.posttime=reply.createdAt
                        | &nbsp;
                        span!=' ID:'+reply.uid+' '
                        | &nbsp;[
                        a.report(href='/值班室?r='+reply.id) 举报
                        | ]&nbsp;
                        a.r(href='/t/'+threads.id+'?r='+reply.id)= 'No.' + reply.id
                        +adminTool(reply)
                        br
                        blockquote.threadpost!=reply.content
        div(style="clear:both")
        hr
    +page(page.page,page.size,'/t/'+req.params.tid,true)

    include ../layout/footer