div#h-menu-top
    a#h-menu-top-img(href='/')
        img(src='/img/ac-bitmap.png' title="写作绅士，读作丧尸")
    a#h-menu-top-sitename(href='/')=H.settings.siteName

div#h-menu-search
    form(method='get' action='/search')
        input#h-menu-search-keyword(type='text' name='q' placeholder='搜索')

ul#h-menu-content.uk-nav.uk-nav-parent-icon.uk-nav-side(data-uk-nav="{multiple:true}")
    - try {
        - var forumList = JSON.parse(H.settings.htmlForumList)
    - } catch(e) {
        - var forumList = {}
    - }
    - for (var i in forumList){
        - if(i == '版块列表'){
            - for (var j in forumList[i]){
                li.uk-parent
                    a.h-nav-parent-header(href='#' onclick='return false;')= j
                    ul.uk-nav-sub
                        - for(var n in forumList[i][j]){
                            li: a(href=forumList[i][j][n][1])!=forumList[i][j][n][0]
                        - }
            - }
        - } else {
            li.uk-nav-header.h-nav-header= i
            -for (var j in forumList[i]){
                - if (_.isArray(forumList[i][j])){
                    li.h-nav-item: a(href=forumList[i][j][1])= forumList[i][j][0]
                - }
            - }
        - }
    - }