extends ../layout/index
block body
    p(align="right")
        | [
        if forum.name
            a(href='/'+encodeURI(forum.name)) 版块首页
        | ] [
        a(href='javascript:history.back();void(0);') 返回
        | ]
    p(align="center")
        font(color="#800000",size="5")
            b: span=page.title
        hr(width="90%",size="1")
    div(align='center', style='margin-bottom: 5px;')
        +postForm('/'+forum.name+'/create',forum.id)

    hr

    each item in data.threads
        div(class='threads_'+item.id)
            if item.image
                a(href=cdnPath+item.image.toLocaleLowerCase(), rel='_blank', target='_blank')
                    img(src=cdnPath+item.thumb.toLocaleLowerCase(), align="left", border="0",hspace="20")
            font(color="#cc1105",size="+1"): b=(item.title) ? item.title : '无标题'
            | &nbsp;
            if item.email
                a(href='mailto:'+item.email)
                    font(color="#117743"): b=(item.name) ? item.name : '无名氏'
            else
                font(color="#117743"): b=(item.name) ? item.name : '无名氏'
            | &nbsp;
            span.posttime=item.createdAt
            | &nbsp;
            span!='ID:'+item.uid
            | &nbsp;[
            a.report(href='/feed/create?id='+item.id) 订阅
            | ]&nbsp;[
            a.report(href='/值班室?r='+item.id) 举报
            | ]&nbsp;
            a.r(href='/t/'+item.id+'?r='+item.id)= 'No.' + item.id
            | &nbsp;[
            a(href='/t/'+item.id) 回应
            | ]&nbsp;
            +adminTool(item)
            br
            blockquote.threadpost!=item.content

            +threadsStatus(item)

            if item.replyCount > 5
                font(color="#707070")='回应有 '+( item.replyCount - 5 )+' 篇被省略。要阅读所有回应请按下回应链接。'

            if item.recentReply && item.recentReply.length > 0
                - item.recentReply = item.recentReply.reverse()
                each reply in item.recentReply
                    - var reply = data.replys['t'+reply];
                    if reply
                        table(id=reply.id,border="0"): tbody: tr
                            td(nowrap="" align="right" valign="top") …
                            td(bgcolor="#F0E0D6")
                                if reply.image
                                    a(href=cdnPath+reply.image.toLocaleLowerCase(),, rel='_blank', target='_blank')
                                        img(src=cdnPath+reply.thumb.toLocaleLowerCase(),, align="left", border="0",hspace="20")
                                font(color="#cc1105",size="+1"): b=(reply.title) ? reply.title : '无标题'
                                | &nbsp;
                                if reply.email
                                    a(href='mailto:'+reply.email)
                                        font(color="#117743"): b=(reply.name) ? reply.name : '无名氏'
                                else
                                    font(color="#117743"): b=(reply.name) ? reply.name : '无名氏'
                                | &nbsp;
                                span.posttime=reply.createdAt
                                | &nbsp;
                                span!=' ID:'+reply.uid+' '
                                | &nbsp;[
                                a.report(href='/值班室?r='+reply.id) 举报
                                | ]&nbsp;
                                a.r(href='/t/'+item.id+'?r='+reply.id)= 'No.' + reply.id
                                +adminTool(reply)
                                br
                                blockquote.threadpost!=reply.content
        div(style="clear:both")
        hr
    +page(page.page,page.size,'/'+forum.name,false)

    include ../layout/footer


