div.uk-panel
    form.uk-form.uk-form-stacked
        h1 自定义配置
        p 填写后即时生效，仅保存在主机。
        h3 配色方案
        div.uk-form-row
            div.uk-form-controls
                div.h-setting-theme.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        a.uk-overlay.h-setting-theme-option
                            img(src="http://placehold.it/120x90" alt="")
                            div.uk-overlay-caption 默认
                    div.uk-width-1-2
                        a.uk-overlay.h-setting-theme-option
                            img(src="http://placehold.it/120x90" alt="")
                            div.uk-overlay-caption 夜间
        h3 样式
        div.uk-form-row
            label.uk-form-label 主体对齐方式
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][contentAlign]',value='left')
                            span=' 左对齐'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][contentAlign]',value='center')
                            span=' 居中'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][contentAlign]',value='right')
                            span=' 右对齐'
        div.uk-form-row
            label.uk-form-label 限制页面宽度
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][limitPageWidth]',value='true')
                            span=' 限制'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][limitPageWidth]',value='false')
                            span=' 不限制'
        div.uk-form-row
            label.uk-form-label 默认隐藏发帖框
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][hidePostForm]',value='true')
                            span=' 隐藏'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][hidePostForm]',value='false')
                            span=' 显示'
        div.uk-form-row
            label.uk-form-label 自动隐藏左侧侧边栏
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][autoHideLeftNav]',value='true')
                            span=' 隐藏'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][autoHideLeftNav]',value='false')
                            span=' 显示'
        div.uk-form-row
            label.uk-form-label 自动隐藏底部导航栏
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][autoHideBottomNav]',value='true')
                            span=' 隐藏'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[style][autoHideBottomNav]',value='false')
                            span=' 显示'
        h3 背景
        div.uk-form-row
            label.uk-form-label 允许自定义背景
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][enable]',value='true')
                            span=' 允许'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][enable]',value='false')
                            span=' 禁用'
        div.uk-form-row
            label.uk-form-label 背景图片URL
            div.uk-form-controls
                input.uk-width-1-1(type='text',name='settings[background][url]',placeholder='填写图片网址')
        div.uk-form-row
            label.uk-form-label 背景对齐方式
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='0')
                            span=' ↖'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='1')
                            span=' ↑'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='2')
                            span=' ↗'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='3')
                            span=' ←'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='4')
                            span=' ⊙'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='5')
                            span=' →'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='6')
                            span=' ↙'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='7')
                            span=' ↓'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[background][align]',value='8')
                            span=' ↘'
        div.uk-form-row
            label.uk-form-label 平铺背景
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-4
                        label
                            input(type='radio',name='settings[background][repeat]',value='no')
                            span=' 禁用'
                    div.uk-width-1-4
                        label
                            input(type='radio',name='settings[background][repeat]',value='x')
                            span=' X轴'
                    div.uk-width-1-4
                        label
                            input(type='radio',name='settings[background][repeat]',value='y')
                            span=' Y轴'
                    div.uk-width-1-4
                        label
                            input(type='radio',name='settings[background][repeat]',value='full')
                            span=' XY轴'
        h3 内容
        div.uk-form-row
            label.uk-form-label 正文字号
            div.uk-form-controls
                input.uk-width-1-1(type='number',name='settings[content][size]',placeholder='16')
        div.uk-form-row
            label.uk-form-label 显示图片缩略图
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[content][showThumb]',value='true')
                            span=' 允许'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[content][showThumb]',value='false')
                            span=' 禁用'
        div.uk-form-row
            label.uk-form-label 点击缩略图后的操作
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[content][clickImage]',value='zoom')
                            span=' 放大图片'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[content][clickImage]',value='jump')
                            span=' 直接打开'
                    div.uk-width-1-3
                        label
                            input(type='radio',name='settings[content][clickImage]',value='slideshow')
                            span=' 幻灯片'
        div.uk-form-row
            label.uk-form-label 点击ac号后的操作
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[content][clickAcFunId]',value='jump')
                            span=' 跳转到对应页面'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[content][clickAcFunId]',value='play')
                            span=' 直接播放'
        div.uk-form-row
            label.uk-form-label 点击No.号后的操作
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[content][quickReply]',value='false')
                            span=' 跳转到对应串'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[content][quickReply]',value='true')
                            span=' 弹出快速回复框'
        div.uk-form-row
            label.uk-form-label 格式化发串时间
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[content][formatPostTime]',value='default')
                            span=' 显示完整的时间'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[content][formatPostTime]',value='countdown')
                            span=' 按照经过时间'
        h3 发串
        div.uk-form-row
            label.uk-form-label 发串后自动订阅
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[post][autoFeed]',value='true')
                            span=' 启用'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[post][autoFeed]',value='false')
                            span=' 禁用'
        div.uk-form-row
            label.uk-form-label 发串成功后跳转到
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[post][backto]',value='lastpage')
                            span=' 串的最后一页'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[post][backto]',value='forumindex')
                            span=' 版块首页'
        h3 实验性功能
        div.uk-form-row
            label.uk-form-label 给所有UID填充上它们独有的颜色，方便判断角色
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[lab][colorfullId]',value='true')
                            span=' 启用'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[lab][colorfullId]',value='false')
                            span=' 禁用'
        div.uk-form-row
            label.uk-form-label 显示只看PO主的选项按钮
            div.uk-form-controls
                div.uk-grid.uk-grid-small
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[lab][allowOnlyShowPosterThreads]',value='true')
                            span=' 启用'
                    div.uk-width-1-2
                        label
                            input(type='radio',name='settings[lab][allowOnlyShowPosterThreads]',value='false')
                            span=' 禁用'
